{% extends 'layouts/base.html' %}

{% block content %}
    <form class="my-4">
        搜尋
        <input type="search" name="keyword" class="input input-bordered">
        <button class="btn btn-neutral">搜尋</button>
    </form>

    <h1 class="text-3xl my-2">保姆列表</h1>
    <a class="btn btn-neutral btn-sm" href="{% url 'nannies:new' %}">新增</a>

    {% for nanny in nanny_list %}
      <div class="card">
          <a href="{% url 'nannies:show' nanny.id %}">{{ nanny.name }}</a>
      </div>
    {% endfor %}

{% endblock %}
