{% extends 'layouts/base.html' %}

{% block content %}
    <form class="my-4">
        搜尋
        <input type="search" name="keyword" class="input input-bordered">
        <button class="btn btn-neutral">搜尋</button>
    </form>

    <h1 class="text-3xl my-2">保姆列表</h1>
    <a class="btn btn-neutral btn-sm" href="{% url 'nannies:new' %}">新增</a>

    <ul class="my-4 grid grid-cols-4 gap-4">
        {% for nanny in nanny_list %}
            <li class="flex flex-col gap-2 col-span-1 border rounded-sm p-3 border-slate-400">
                <a class="text-xl" href="{% url 'nannies:show' nanny.id %}">{{ nanny.name }}</a>
                <article>
                    {{ nanny.description|truncatewords:20 }}
                </article>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
