{% extends 'layouts/base.html' %}

{% block content %}
  <section class="grid grid-cols-6 gap-2">
      <div class="col-span-4 my-2 pr-2">
          <h2 class="text-3xl">{{ nanny.name }}</h2>
          <article class="flex flex-col gap-4">
              {{ nanny.description|linebreaks }}
          </article>
          <section class="gap-2 my-2 flex">
              <a class="btn btn-sm btn-neutral" href="{% url 'nannies:edit' nanny.id %}">編輯</a>

              <form action="{% url 'nannies:delete' nanny.id %}"
                    method="post">
                  {% csrf_token %}
                  <button class="btn btn-sm btn-neutral">刪除</button>
              </form>
          </section>

          <aside class="col-span-2">
              <section class="my-2">
                  <form
                      x-data="{content: ''}"
                      x-ref="comment_form"
                      hx-swap="afterbegin"
                      hx-target="#comments"
                      hx-confirm="確認留言？"
                      hx-post="{% url 'nannies:comment' nanny.id %}"
                      @htmx:after-swap.window="$refs.comment_form.reset()">

                      {% csrf_token %}

                      <div class="flex flex-col gap-2">
                        {% for f in comment_form %}
                            <label class="text-lg">留言</label>
                            {{ f }}
                        {% endfor %}
                        <div>
                            <button x-bind:disabled="content.trim().length == 0" class="btn btn-sm btn-neutral">留言</button>
                        </div>
                      </div>

                  </form>
              </section>

              <section x-data="sortList" class="my-2">
                  {% for comment in comments %}
                    {% include "comments/comment.html" %}
                  {% endfor %}
              </section>
          </aside>
      </div>

      <div class="my-2">
          <h2 class="text-3xl">推薦</h2>
      </div>
  </section>

{% endblock %}
