{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="lofi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}寵物保姆{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script src="{% static 'scripts/app.js' %}" type="module"></script>
  </head>
  <body>
      {% include "shared/navbar.html" %}
      {% include "shared/message.html" %}

      <main class="px-2 mt-2">
        {% block content %}{% endblock %}
        {% include "shared/footer.html" %}
      </main>
  </body>
</html>
